@font-face {
	font-family: 'FranklinGothic';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
p, span {
	font-family: Calibri, sans-serif;
	font-weight: 600;
	letter-spacing: -1px;
	font-size: 14px;
}
html {
	height: 100%;
}

body {
	font-family: FranklinGothic, sans-serif;
	height: 100%;
}
body h2 {
	font-size: 25px;
}
body h3 {
	font-size: 14px;
}
nav {
	width: 100%;
	height: 50px;
	background: #344051;
	position: fixed;
	z-index:2;
}
.zatem{
	position: absolute;
	height:100%;
	width: 100%;
}
.main{
	height:100%;
	width: 100%;
}
.menu ul {
	width: 100%;
	list-style: none;
	float: left;
}
.menu li a{
	text-decoration: none;
	color: #f4f4f5;
 
}
.logo {
	color: #f4f4f5;
	font-size: 130%;
	line-height: 50px;
	float: left;
}
.menu li {
	float: left;
	line-height: 50px;
	color: #f4f4f5;
	font-size: 14px;
	padding-left: 5%;
}
.backgroundtitle{
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat,url(../img/bg.png) center/cover no-repeat;
	width: 100%;
	height: 100%;
}
.titlecont{
	position: relative;
	z-index: 1;
	margin-top: 15%;
	text-align: center;
	color: #223549;
}
.titlecont h1{
	font-size: 72px;
}
.titlecont h4{
	margin-top: 3%;
	font-size: 16px;
	color: #79818d;
}
.titlecont input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
}

.rezum {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	height:75%;
	width: 100%;
	background:none;
	position: relative;
	z-index: 1;
}
.zag{
	padding-top: 1%;
	height:3%;
}
.cherta{
	background:url(../img/chert.png) 50% 25%/auto no-repeat;
	width: 100%;
	height:2%;
	margin-top: 3%;
}
.fotkarez{
	background:url(../img/fotka.png) center/13% no-repeat;
	width: 100%;
	height:40%;

}
.textp{
	width: 37%;
	color: #3f495a;
}
.knopa {
	align-self: center;
}
.knopa input {
	padding: 10px 10px 0px 25px;
	height: 30px;
	background: none,url(../img/icon.png) 3% 50%/auto no-repeat ;
	border-radius: 5px;
	padding: 0px 10px 0px 25px;
	text-align: right;
	color: #3f495a;	
	margin-bottom: 15%;
}
.skills {
	background:url(../img/skills/fonskil.png) center/cover no-repeat fixed;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}

.skili {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	text-align: center;
	padding: 0px 10% 0px 10%;
	height: 30%;
}
.skili p {
	margin: 0px 5% 0px 5%;
	min-width: 80px;
}
.skili img {
	padding-bottom: 10%;
}
.skili h3 {
	color: #cf7600;
	white-space: nowrap;
}
.chtoya img {
	margin-left: 25%;
}
.case {
	background: none;
	width: 100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
}
.kartin {
	background:url(../img/case/fot.png) center/contain no-repeat;
	height: 100%;
	width: 100%;
	background-origin: border-box;
}
.cazag{
	padding-top: 3%;
    text-align: center;
	align-self: center;
}
.opis {
	display: flex;
	flex-direction: row;
	width: 40%;
	height: 30%;
	align-items: center;
	margin-bottom: 2%;
}
.opis h3 {
	font-size:18px;
	color: #2f4154;
}
.opis p {
	color: #38475a;
}
.nazv {
    margin-bottom: 3%;
} 
.nazv p{
	width: 130%;
	font-size: 15px;
	padding-left: 1%;
}
.pata {
	padding-right: 4%;
	margin-left: -23%;
}
.case input{
    height: 35px;
	width: 150px;
	border-radius: 5px;
	background-color: #63b5ae;
	color: #ffffff;
	font-weight: bold;
}
.calc {
	width: 100%;
	height: 90%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}
.calc select{
	border-radius: 2px;
	height: 40px;
	width: 700px;
	background-color: #eeeeee;
}
.calc h2 {
	font-size: 34px;
}
.opti {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.calc input {
	height: 35px;
	width: 150px;
	border-radius: 5px;
	background-color: #63b5ae;
	color: #ffffff;
	font-weight: bold;
}
.sroki {
	width: 700px;
	
}
.stati {
	background:url(../img/stat/fonstat.png) center/cover no-repeat fixed;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}
.stata {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	text-align: center;
	justify-content: space-between;
	padding: 0px 10% 2% 10%;
	height: 30%;
}
.stata p {
	margin: 0px 5% 0px 5%;
	font-size: 13px;
	white-space: nowrap;
}
.stata img {
	padding-bottom: 10%;
}
.stata h3 {
	color: #293b4f;
	font-size: 29px;
}
.staza img {
    margin-left: 35%;
}
.kontakt {
	height:90%;
	width: 100%;
	background: url(../img/kont/bg.png) center/cover no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	position: relative;
	z-index:1;
}
.kontp {
	display: flex;
	flex-direction: row;
}
.zagol {
	text-align: center;
	align-self: center;
    margin-top: 3%;
}
.zagol p {
	padding-top: 5%;
}
.kontp {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
.kontp p{
	padding-top: 10%;
}
.forma {
	opacity: 0.8;
	width: 30%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.forma textarea {
	width: 400px;
	padding-left: 2%;
	font-size: 14px;
	font-family: calibri;
	resize:none;
	width: 100%;
}
.forma input {
	margin-bottom: 1%;
	width: 49%;
	padding-left: 2%;
	font-size: 14px;
	font-family: calibri;
	text-align: left;
}
.forma input:nth-child(2){
	float: right;
}
.forma input:first-child{
	float: left;
}
.forma input#knopkacont {
	background: none;
	border: 2px solid #ffffff;
	border-radius: 3px;
	width: 90px;
	height: 35px;
	color: #ffffff;
	font-weight: bold;
	margin-left: 155px;
}

@media (max-width: 991px) {
	.titlecont {
		
	}
	.titlecont h1{
		text-shadow: #cf7600 1px 3px 0;
		color: #000000;
	}
	.titlecont input  {
		color: #cf7600;
		border-color: #cf7600;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.titlecont h4{
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 100%;
		color: #cf7600;
	}
	.zatem {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		z-index:1;
	}
	.logo {
		color: #cf7600;
	}
	.zag {
		text-shadow: #cf7600 1px 3px 0;
		color: #000000;
	}
	.rezum {
		background: url(../img/texture.jpg) center/cover no-repeat;
	}
	.cherta{
		display: none;
	}
	.textp{
		width: 80%;
	    color: #cf7600;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 10px;
		padding: 10px 10px 10px 10px;
	}
	.fotkarez{
	    background:url(../img/fotka.png) center/190px no-repeat;
	    width: 100%;
	    height:40%;
    }
    .knopa input{
		color: #cf7600;
		border-color: #cf7600;
		background-color: rgba(0, 0, 0, 0.6);
	}
	.skills {
		justify-content: center;
	}
	.skili{
		margin-top: 10%;
		background-size: 10%;
	}
	.chtoya{
		padding-bottom: 5%;
	}
	.skili p {
		font-size: 10px;
		margin-left: 5px;
	}
	.skili h3 {
		font-size: 12px;
	}
	.opis {
		flex-direction: column-reverse;
	}
	.opis h3 {
		white-space: nowrap;
	}
	.pata{
		margin-left:0%;
	}
	.case {
		background: url(../img/84.png) center/cover repeat;
	}
	.calc select{
	border-radius: 2px;
	height: 40px;
	width: 300px;
    }
	.sroki {
		width: 300px;
	}
	.calc h2{
		text-shadow: #cf7600 1px 3px 0;
		color: #000000;
	}
	.calc h4{
		color: #cf7600;
		text-shadow: #000000 1px 3px 0;
	}
	.stata {
		flex-direction: row;
		padding: 0px;
		align-items: center;
		justify-content: center;
		margin-bottom: 10%;
	}
	.klient {
		align-self: end;
	}
	.proe {
		align-self: end;
	}
	.chasi{
		align-self:flex-start;
	}
	.nagrad{
		align-self:flex-start;
	}
	.kontp {
		width: 90%;
	}
	.forma {
		width: 99%;
		margin-bottom: 30%;
	}

}
