
body {
    font: 15px/24px CeraCondesedPro, Arial, sans-serif;
}
#mobileFormDisc{
    position: absolute;
    width: 308px;
    height: 355px;
    top: 62px;
    border-radius: 10px;
    background: url(https://i.ibb.co/jvpxL5N/Union.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
#mobileFormDisc:hover{
    transform: scale(1.02);
}
#mobileFormDisc_pic{
    width: 126px;
    height: 115px;
    margin-top: 45px;
    margin-left: 16px;
}
#mobileFormDisc_form{
    width: 260px;
    height: 100%;
    margin-top: 8px;
}
#mobileFormDisc_form_text{
    display: block;
    font-size: 22px;
    font-family: 'CeraCondesedPro'!important;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 130%;
    margin-bottom: 21px;
    text-align: center;
    width: 190px;
    height: 87px;
    margin-left: 44px;
}
#redText{
   color:#F9001F;
   display: inline;
}
#mobileFormDisc_form_input{
    display: flex;
    flex-direction: row;
    height: 77px;
    margin-bottom: 16px;
}
#mobileFormDisc_form_input input{
    font-family: CeraPro,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    transition: 0.4s;
}
#mobileFormDisc_form_input input:hover{
    transform: scale(1.1);
}
#mobileFormDisc_form_input input[type="button"]:nth-child(1){
    width: 147px;
    height: 46px;
    background-color:#EBEBEB;
    color: #333333;
    border: none;
    border-radius: 4px;
}
#mobileFormDisc_form input[type="button"]:nth-child(2){
    width: 102px;
    height: 46px;
    background-color:#F9001F;
    color:white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}


#mobileFormDisc{
    position:absolute;
    width: 308px;
    height: 355px;
    top: 62px;
    border-radius: 10px;
    background: url(https://i.ibb.co/jvpxL5N/Union.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
#mobileFormDisc:hover{
    transform: scale(1.02);
}
#mobileFormDisc_pic{
    width: 126px;
    height: 115px;
    margin-top: 45px;
    margin-left: 80px;
}
#mobileFormDisc_form{
    width: 260px;
    height: 100%;
    margin-top: 8px;
}
#redText{
   color:#F9001F;
   display: inline;
}
#mobileFormDisc_form_input{
    display: flex;
    flex-direction: row;
    height: 77px;
    margin-bottom: 16px;
}
#mobileFormDisc_form_input input{
    font-family: 'Cera Pro',sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    transition: 0.4s;
}
#mobileFormDisc_form_input input:hover{
    transform: scale(1.1);
}
#mobileFormDisc_form_input input[type="button"]:nth-child(1){
    width: 147px;
    height: 46px;
    background-color:#EBEBEB;
    color: #333333;
    border: none;
    border-radius: 4px;
}
#mobileFormDisc_form_input input[type="button"]:nth-child(2){
    width: 102px;
    height: 46px;
    background-color:#F9001F;
    color:white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}

#mobileFormThank{
    position:absolute;
    width: 308px;
    height: 355px;
    top:62px;
    border-radius: 10px;
    background: url(https://i.ibb.co/jvpxL5N/Union.png) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
#mobileFormThank:hover{
    transform: scale(1.02);
}
#mobileFormThank_pic{
    width: 126px;
    height: 115px;
    margin-top: 45px;
    margin-left: 16px;
}
#mobileFormThank_form{
    width: 260px;
    height: 100%;
    margin-top: 8px;
}
#mobileFormThank_form img{
    display: none;
}
#mobileFormThank_form_text{
    display: block;
    font-size: 22px;
    font-family: 'Cera Pro',sans-serif;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 130%;
    margin-bottom: 21px;
    text-align: center;
    width: 200px;
    height: 87px;
    margin-left: 42px;
}
#redText{
   color:#F9001F;
   display: inline;
}
#mobileFormThank_form_input{
    display: flex;
    flex-direction: row;
    height: 77px;
    margin-bottom: 16px;
}
#mobileFormThank_form_input input{
    font-family: 'Cera Pro',sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    transition: 0.4s;
}
#mobileFormThank_form_input input:hover{
    transform: scale(1.1);
}
#mobileFormThank_form_input input[type="button"]:nth-child(1){
    width: 121px;
    height: 46px;
    background-color:#F9001F;
    color:white;
    border: none;
    border-radius: 4px;
    margin-left: 31px;
    margin-top: 20px;
}
#popmechanic-form .popemechanic-screen {
    display: none; }


#screenMobileFormThank{
    display:none;
}

