	@font-face {
	font-family: 'FranklinGothic';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
p, span {
	font-family: Calibri, sans-serif;
	font-weight: 600;	
	letter-spacing: -1px;
	font-size: 14px;
}
.ani {
	font-size: 27px;
	animation: neon linear infinite 2s; ;
}
html {
	height: 100%;
}

body {
	font-family: FranklinGothic, sans-serif;
	height: 100%;
}
body h2 {
	font-size: 25px;
	color: #720000;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffbfbf, 0 0 0.5em #ffbfbf, 0 0 0.1em #ffbfbf;
}
body h3 {
	font-size: 14px;
}
nav {
	width: 100%;
	height: 50px;
	background:url(../img/nav.png) 100% -1px no-repeat;
	position: fixed;
	z-index:2;
}
.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background: #e0e0e0;
	z-index: 1001;
  }
  
  .preloader__image {
	position: relative;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
  }
  
  @keyframes preloader-rotate {
	100% {
	  transform: rotate(360deg);
	}
  }
  
  .loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
  }
  
  .loaded .preloader {
	display: none;
  }
.navigation{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.main{
	height:100%;
	width: 100%;
}
.menu{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.menu ul {
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	width: 50%;
	list-style: none;
	margin-right: 5%;
	white-space: nowrap;
}
.ul{
	border:#ffffff, solid, 2px;
}
.DisableA{
	text-decoration: none;
	color: #79818d;
	transition: all 0.4s;
	transform: scale(1);
	display: inline-block;
 
}
.menu li a:hover{
	color:#720000;
	transform: scale(1.3);
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffbfbf, 0 0 0.5em #ffbfbf, 0 0 0.1em #ffbfbf;
}
.menu li a:active {
	color:#720000;
	transform: scale(1.1);
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffbfbf, 0 0 0.5em #ffbfbf, 0 0 0.1em #ffbfbf;
}
.activeA {
	color:#720000;
	text-decoration: none;
	transition: all 0.4s;
	transform: scale(1.2);
	display: inline-block;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffbfbf, 0 0 0.5em #ffbfbf, 0 0 0.1em #ffbfbf;
}
.logo {
	color: #f4f4f5;
	font-size: 130%;
	line-height: 50px;
	float: left;
}
.menu li {
	float: left;
	line-height: 50px;
	color: #f4f4f5;
	font-size: 14px;
	padding-left: 5%;
}
.backgroundtitle{
	background:url(../img/fonti.png) center/cover no-repeat black;
	width: 100%;
	height: 100%;
}
.titlecont{
	position: relative;
	z-index: 1;
	margin-top: 15%;
	text-align: center;
}


.titlecont h1{
    font-family: FranklinGothic, sans-serif;
	font-size: 72px;
	color: #720000;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffbfbf, 0 0 0.5em #ffbfbf, 0 0 0.1em #ffbfbf;
}
.titlecont span {
	font-size: 72px;
        font-family: FranklinGothic, sans-serif;
        font-weight: 100;
	animation: neon linear infinite 2s;
}
.titlecont span:nth-child(odd){
	animation-delay: 1s;
}
@keyframes neon {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #000000;
    }
    80% {
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #000000;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
.titlecont h4{
	margin-top: 3%;
	font-size: 16px;
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.titlecont input{
	height: 40px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.titlecont input:hover{
	background: #344051;
	color: #00c3ff;
	transform: scale(1.3);
	border: 2px solid #1d70dd;
	
}
.titlecont input:active{
	
	transform: scale(1.2);
	
}

.rezum {
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
	height:75%;
	width: 100%;
	background:none;
	position: relative;
	z-index: 1;
	background:url(../img/me/fon.png) center/70% 99% no-repeat, black;
}
.zag img{
	margin-left: 17%;
}
.zag{
	padding-top: 1%;
}
.textp{
	width: 37%;
	color: #79818d;
	height: 40%;
	text-align: center;
	padding-top: 1%;
}
.textp p{
	font-size: 16px;
}

.knopa {
	align-self: center;
}
.knopa input {
	height: 40px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.knopa input:hover{
	background: #344051;
	color: #00c3ff;
	transform: scale(1.3);
	border: 2px solid #1d70dd;
	
}
.knopa input:active{
	
	transform: scale(1.2);
	
}
.skills {
	background:url(../img/Skils/fonsk.jpg) center/80% no-repeat, black;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}

.skili {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	text-align: center;
	padding: 0px 10% 0px 10%;
	height: 30%;
}
.skili p {
	margin: 0px 5% 0px 5%;
	min-width: 80px;
}
.skili img {
	padding-bottom: 10%;
}
.skili h3 {
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
	white-space: nowrap;
}
.chtoya img {
	margin-left: 25%;
}
.skills p{
	color: #79818d;
}
.case {
	background:url(../img/case/fonca.jpg) center/90% no-repeat fixed black;
	width: 100%;
	height: 125%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	z-index: 1;
}
.kartin {
	height: 100%;
	width: 60%;
	background-origin: border-box;
}
.cazag{
	padding-top: 3%;
    text-align: center;
	align-self: center;
	color: #79818d;
}
.opis {
	display: flex;
	flex-direction: row;
	width: 40%;
	height: 30%;
	align-items: center;
}
.opis h3 {
	font-size:18px;
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.opis p {
	color: #79818d;
}
.nazv {
    margin-bottom: 3%;
} 
.nazv p{
	width: 130%;
	font-size: 15px;
	padding-left: 1%;
}
.pata {
	padding-right: 4%;
	margin-left: -23%;
}
.inp{
	margin-left: -10%;
	margin-bottom: 10%;
}
.case input{
    height: 40px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.case input:hover{
	background: #344051;
	color: #00c3ff;
	transform: scale(1.3);
	border: 2px solid #1d70dd;
	
}
.case input:active{
	
	transform: scale(1.2);
	
}
.calc {
	width: 100%;
	height: 90%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
	background:url(../img/case/fonca.jpg) center/90% no-repeat fixed black;
}
.calc select{
	height: 40px;
	width: 700px;
	background-color: #eeeeee;
	color: #777777;
	padding-left: 1%;
	border-radius: 5px;
	border: none;
}
.calc select:hover {
	color: #000000;
	background-color: #e4e4e4;
}
.calc h2 {
	font-size: 34px;
}
.calc h4{
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.opti {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.calc h3{
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.calc input{
    height: 35px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.calc input:hover{
	background: #344051;
	color: #00c3ff;
	transform: scale(1.3);
	border: 2px solid #1d70dd;
	
}
.calc input:active{
	
	transform: scale(1.2);
	
}
.otvet {
	width: 700px;
	display: flex;
	flex-direction: column;
}
.sroki {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.stoimost {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.stati {
	background:url(../img/Skils/fonsk.jpg) center/80% no-repeat, black;
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
}
.stata {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	text-align: center;
	justify-content: space-between;
	padding: 0px 10% 2% 10%;
	height: 30%;
}
.stata p {
	margin: 0px 5% 0px 5%;
	font-size: 13px;
	white-space: nowrap;
	width: 100%;
}
.stata img {
	padding-bottom: 10%;
}
.stata h3 {
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
	font-size: 29px;
}
.stata p{
	color: #79818d;
}
.staza img {
    margin-left: 35%;
}
.chasi h3{
	margin-top: 10%;
}
.adst {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: space-around;
}
.adst1 {
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: space-around;
}
.otziv {
	height: 60%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 1;
	background:url(../img/case/fonca.jpg) center/90% no-repeat fixed black;
}
.otzivzag img{
	margin-left: 10%;
}
.otzivka{
	width: 50%;
	text-align: center;
}
.kar1 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.karots img {
	margin-bottom: 5%;
}
.karots p{
	margin-top: 2%;
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.karots span{
	color: #79818d;
}
.slick-dots li button::before{
	font-size: 30px;
}
.slick-dots li.slick-active button::before{
	color:#720000;
	opacity: 1;
}
.slick-dots li button::before{
	color: #007ba0;
	opacity: 1;
}
.kontakt {
	height:90%;
	width: 100%;
	background:url(../img/case/fonca.jpg) center/90% no-repeat fixed black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: #79818d;
	position: relative;
	z-index:1;
}
.kontp {
	display: flex;
	flex-direction: row;
}
.zagol {
	text-align: center;
	align-self: center;
    margin-top: 3%;
}
.zagol p {
	padding-top: 5%;
}
.kontp {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
.kontp p{
	padding-top: 10%;
	transition: 0.4s;
}
.kontp p:hover{
	transform: scale(1.5);
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
        cursor: pointer;
}
.kontp p:active{
	transform: scale(1.3);
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
        cursor: pointer;
	}
.forma {
	opacity: 0.8;
	width: 30%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.forma textarea {
	width: 400px;
	padding-left: 2%;
	font-size: 14px;
	font-family: calibri;
	resize:none;
	width: 100%;
}
.forma input {
	margin-bottom: 1%;
	width: 49%;
	padding-left: 2%;
	font-size: 14px;
	font-family: calibri;
	text-align: left;
}
.forma input:nth-child(2){
	float: right;
}
.forma input:first-child{
	float: left;
}
.forma input#knopkacont {
	width: 30%;
	height: 25%;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 1% 0% 0px 35%;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.forma input#knopkacont:hover{
	transform: scale(1.2);
}
.forma input#knopkacont:active{
	transform: scale(1.1);
}
.callWin{
	position: fixed;
	z-index: 10;
	height: 5%;
	width: 5%;
	top: 67%;
	right: 0%;
	opacity: 0;
	background: url(../img/but.jpg) center/cover no-repeat;
	transition: 0.4s;
        cursor: pointer;
	}
.callWin:hover{
	transform: scale(1.3) rotate(0.5turn);
		cursor: pointer;
}
.callWin:active{
	transform: scale(1.1) rotate(0.5turn);
        cursor: pointer;
}
.wintime{
	position: fixed;
	top: 75%;
	right: 17px;
	z-index: 10;
	display: flex;
	opacity: 0;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 150px;
	width: 300px;
	border: #007ba0 solid 1px;
	border-radius: 10px;
	background: url(../img/me/fon.png) center/cover no-repeat;
	background-color:#4747479f;
	text-align: center;
	transition: 0.4s;
}
.wintime h2{
	margin-top: 7%;
}
.wintimeInp{
	width: 100%;
}
.wintime:hover{
	background-color:#252525c7;
	transform: scale(1.1);
}
.wintimeInp input{
	height: 30px;
	width: 30%;
	height: 35px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
.wintimeInp input:hover{
	transform: scale(1.2);
}
.wintimeInp input:active{
	transform: scale(1.1);
}
footer{
	height: 10%;
	width: 100%;
	background: url(../img/podval.png) center/cover no-repeat;
}
.EnablePopBut{
	display: inline-block;
}
.DisablePopBut{
	display: none;
}
.PopForm{
	display: none;
	opacity: 0.8;
	flex-direction: column;
	height: 65%;
	width: 50%;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5%;
}
.formPop{
	width: 80%;
}
.PopForm span{
	width: 100%;
	text-align: left;
	margin-top: 4%;
	margin-bottom: 4%;
	color: #007ba0;
	text-shadow: 0 -10px 100px, 0 0 1px, 0 0 25px #ffffff;
}
.popFioEma{
	display: flex;
	flex-direction: column;
}
#PopMassageF{
	width: 100%;
	resize: none;
}
#PopKnopkacont{
	height: 30px;
	width: 30%;
	height: 35px;
	text-align: center;
	border: 2px solid #536781;
	background: none;
	border-radius: 5px;
	color: #007ba0;
	padding: 0px 16px;
	margin: 30px 13px 0px 13px;
	transition: all 0.4s;
	text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #ffffff;
	box-shadow: inset 0 0 10px 0 #005772, 0 0 10px 0 #005772;
}
#PopKnopkacont:hover{
	transform: scale(1.2);
}
#PopKnopkacont:active{
	transform: scale(1.1);
}
@media (min-width: 1920px){
	.case{
		height: 102%;
	}
	.skili{
		margin-bottom: 7%;
	}
	.stata{
		margin-bottom: 5%;
	}
	.menu ul{
		margin-right: 2%;
	}

}
@media (max-width: 991px) {
	.titlecont span{
		animation: none;
	}
	.menu ul{
		margin-right: 5%;
		width: 100%;
	}
	.kontakt{
		background:url(../img/case/fonca.jpg) center/90% no-repeat black;
	}
	.otziv{
		background:url(../img/case/fonca.jpg) center/90% no-repeat black;
	}
	.calc{
		background:url(../img/case/fonca.jpg) center/90% no-repeat black;
	}
	.zatem {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
		z-index:1;
	}
	.case {
		background:url(../img/case/fonca.jpg) center/90% no-repeat black;
	}
	.rezum{
		background:url(../img/me/fon.png) center/100% 99% no-repeat, black;
	}
	.textp{
		width: 80%;
		background-color: rgba(0, 0, 0, 0.6);
		border-radius: 10px;
		padding: 10px 10px 10px 10px;
	}
	.skills {
		justify-content: center;
	}
	.skili{
		margin-top: 10%;
		background-size: 10%;
	}
	.chtoya{
		padding-bottom: 5%;
	}
	.skili p {
		font-size: 10px;
		margin-left: 5px;
	}
	.skili h3 {
		font-size: 12px;
	}
	.opis {
		flex-direction: column-reverse;
        width: 95%;
        height: 30%;
        align-items: flex-start;
}
	
	.opis h3 {
		white-space: nowrap;
	}
	.pata{
		margin-left:0%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
		padding-right: 0%;
	}
	.nazv p{
		width: 95%;
		margin-left: 5%;
	}
	.inp {
		align-self: center;
		margin-left: 0%;
		margin-bottom: 0%;
	}
	.case input {
		width: 130px;
	}
	.calc select{
	border-radius: 2px;
	height: 40px;
	width: 300px;
    }
	.sroki {
		width: 300px;
	}
	.kontp {
		width: 90%;
	}
	.forma {
		width: 99%;
		margin-bottom: 30%;
	}
	.adst {
		flex-direction: column;
		justify-content: center;
	}
	.adst1 {
		flex-direction: column;
		justify-content: center;
	}
	.proe p {
		padding-bottom: 6.5%;
	}
	.kartin{
		height: 35%;
		width: 100%;
	}
	.case{
		height: 100%;
	}
	.otvet{
		width: auto;
	}
	@media(max-width: 680px){
		.menu ul{
			margin-right: 1%;
			width: 100%;
			justify-content: left;
			padding-left: 0%;
		}
		.menu a{
			font-size: 11px;
		}
	}

}
